@model QuinielasModel.DTO.Games.PoolGames

@{
    ViewData["Title"] = $"{Model.PoolName} - Partidos";
    int number = 0;
}

<div class="pagetitle">
    <h1>@Model.PoolName - Partidos</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/quinielas/mine">Quinielas</a></li>
            <li class="breadcrumb-item"><a href="/quinielas/quiniela/@Model.PoolId">@Model.PoolName</a></li>
            <li class="breadcrumb-item active">Partidos</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Partidos</h5>
                    <a href="create/@Model.PoolId">Agregar partido</a>
                    <table class="table table-striped table-hover mt-3">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Fecha</th>
                                <th>Partido</th>
                                <th class="text-center">Marcador Final</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games!)
                            {
                                string text = item.Team1Score == null ? "Agregar marcador" : "Editar marcador";
                                number++;
                                <tr>
                                    <td>
                                        @number
                                    </td>
                                    <td>
                                        @item.GameDate.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td>
                                        @item.Team1 - @item.Team2
                                    </td>
                                    <td class="text-center">
                                        @item.Team1Score - @item.Team2Score
                                    </td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@item.Id">Editar partido</a> |
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#@("scoreModal" + item.Id)">@text</a>
                                        <div class="modal fade" id="@("scoreModal" + item.Id)" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">@text</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form asp-action="SetScore" asp-route-id="@item.Id" method="post">
                                                        <div class="modal-body">
                                                            Ingresa el marcador del partido:
                                                            <input type="hidden" name="Id" value="@item.Id">
                                                            <div class="row justify-content-md-center">
                                                                <div class="col-sm-auto" style="text-align:right;">
                                                                    <label for="Team1Score" class="form-label">@item.Team1</label>
                                                                    <input type="number" class="form-control prediction-form" name="Team1Score" min="0" max="20" required>
                                                                </div>
                                                                <div class="col-sm-auto">
                                                                    <p> - </p>
                                                                </div>
                                                                <div class="col-sm-auto">
                                                                    <label for="Team2Score" class="form-label">@item.Team2</label>
                                                                    <input type="number" class="form-control prediction-form" name="Team2Score" min="0" max="20" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- End Password Modal-->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br>
                    <a href="/games/@Model.PoolId">Volver a la quiniela</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function addScore(id) {
            showAlert('Confirmar', '¿Estás seguro que quieres abandonar esta quiniela?', 'warning', true, 'No', 'Sí').then(confirmed => {
                if (confirmed) {
                    //const URL = `/quinielas/leave/${id}`;
                    //$.post(URL, function(data) {
                    //    if (data) {
                    //        showAlert(data.alert, data.alertMessage, data.alertIcon, false, '', 'Aceptar').then(confirmed => {
                    //            window.location.replace(data.redirectUrl);
                    //        });
                    //    }
                    //});
                }
            });
        }
    </script>
}