@model IEnumerable<QuinielaView>

@{
    ViewData["Title"] = "Administrar Quinielas";
}

<div class="pagetitle">
    <h1>Administrar Quinielas</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item">Quinielas</li>
            <li class="breadcrumb-item active">Administrar Quinielas</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administrar Quinielas</h5>
                    <a href="create">Crear nueva quiniela</a>
                    <br />
                    <br />
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Privada)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Participantes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Administrador)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td class="text-center">
                                        @if (item.Privada)
                                        {
                                            <i class="bi bi-check-circle" style="color:green"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Participantes)/@Html.DisplayFor(modelItem => item.Límite)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Administrador)
                                    </td>
                                    <td>
                                        <a asp-action="Quiniela" asp-route-id="@item.Id">Ingresar</a> |
                                        <a href="#" onclick="confirmDelete(@item.Id)" style="color:red">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br>
                    <a href="/dashboard">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function confirmDelete(id) {
            showAlert('Confirmar', '¿Estás seguro? Esta quiniela será eliminada permanentemente', 'warning', true, 'No', 'Sí').then(confirmed => {
                if (confirmed) {
                    const URL = `/quinielas/delete/${id}`;
                    $.post(URL, function (data) {
                        if (data) {
                            showAlert(data.alert, data.alertMessage, data.alertIcon, false, '', 'Aceptar').then(confirmed => {
                                window.location.replace(data.redirectUrl);
                            });
                        }
                    });
                }
            });
        }
    </script>
}
