@model QuinielasModel.DTO.Pools.QuinielaFull

@{
    ViewData["Title"] = Model.Nombre;
    int number = 0;
}

<div class="pagetitle">
    <h1>Quiniela</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item">Quinielas</li>
            <li class="breadcrumb-item active">@Model.Nombre</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#pool-dashboard">Dashboard</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pool-positions">Posiciones</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pool-games">Partidos</button>
                        </li>

                        @if (Model.IsAdmin)
                        {
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pool-admin">Administrar</button>
                            </li>
                        }

                    </ul>
                    <div class="tab-content pt-2">

                        <!-- Dashboard -->
                        <div class="tab-pane fade show active" id="pool-dashboard">
                            <h5 class="card-title">@Model.Nombre</h5>
                            <h6 class="card-subtitle mb-3">¡Bienvenido!</h6>

                            <div class="row">
                                <div class="col-lg-6 d-flex">
                                    <div class="card flex-fill">
                                        <div class="card-body">
                                            <h5 class="card-title">Participantes</h5>

                                            <!-- Donut Chart -->
                                            <div id="donutChart"></div>

                                            <script>
                                                document.addEventListener("DOMContentLoaded", () => {
                                                  new ApexCharts(document.querySelector("#donutChart"), {
                                                    series: [@Model.Participantes, @(Model.Límite - Model.Participantes)],
                                                    chart: {
                                                      height: 160,
                                                      type: 'donut',
                                                      toolbar: {
                                                        show: true
                                                      }
                                                    },
                                                    labels: ['Participantes', 'Disponibles'],
                                                    colors: ['#0000FF', '#808080']
                                                  }).render();
                                                });
                                            </script>
                                            <!-- End Donut Chart -->

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 d-flex">
                                    <div class="card info-card flex-fill">
                                        <div class="card-body">
                                            <h5 class="card-title">Partidos</h5>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-calendar"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>@Model.Partidos!.Count</h6>
                                                    <span class="text-muted small pt-2 ps-1">Partidos creados</span>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-calendar-check-fill"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>@Model.Partidos!.Where(p => p.Team1Score != null).ToList().Count</h6>
                                                    <span class="text-muted small pt-2 ps-1">Partidos finalizados</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Posiciones</h5>

                                            <!-- Column Chart -->
                                            <div id="columnChart"></div>

                                            <script>
                                                document.addEventListener("DOMContentLoaded", () => {
                                                    new ApexCharts(document.querySelector("#columnChart"), {
                                                        series: [{
                                                            name: "Puntuación",
                                                            data: @Json.Serialize(Model.UsersScore!.ConvertAll(item => item.Puntuación))
                                                        }],
                                                        chart: {
                                                            height: 300,
                                                            type: 'bar',
                                                            toolbar: {
                                                                show: true
                                                            }
                                                        },
                                                        plotOptions: {
                                                            bar: {
                                                                horizontal: false
                                                            }
                                                        },
                                                        xaxis: {
                                                            categories: @Json.Serialize(Model.UsersScore!.ConvertAll(item => item.Usuario)),
                                                        },
                                                        yaxis: {
                                                            title: {
                                                                text: 'Puntuación'
                                                            }
                                                        }
                                                    }).render();
                                                });
                                            </script>
                                            <!-- End Column Chart -->

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Dashboard -->

                        <!-- Positions -->
                        <div class="tab-pane fade" id="pool-positions">
                            <h5 class="card-title">Posiciones de @Model.Nombre</h5>

                            <!-- Positions Table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Posición</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Punteo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UsersScore!)
                                    {
                                        string background = "";
                                        string bold = "";
                                        if (item.Posición == 1 && item.Puntuación > 0)
                                            background = "table-success";
                                        else
                                            background = "table-light";
                                        if (item.Usuario.Equals(ViewBag.User))
                                            bold = "fw-bold";

                                        <tr class="@background">
                                            <td class="@bold">@item.Posición</td>
                                            <td class="@bold">@item.Usuario</td>
                                            <td class="@bold">@item.Puntuación</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- End Positions Table -->

                        </div>
                        <!-- End Positions -->

                        <!-- Games -->
                        <div class="tab-pane fade" id="pool-games">
                            <h5 class="card-title">Partidos de @Model.Nombre</h5>
                            <!-- Games Table -->
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Partido</th>
                                        <th scope="col" class="text-center">Resultado</th>
                                        @if (Model.IsParticipant)
                                        {
                                            <th scope="col" class="text-center">Mi predicción</th>
                                            <th scope="col" class="text-center">Puntuación</th>
                                        }
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Partidos!)
                                    {
                                        string textColor = "text-success";
                                        if (item.Score == null)
                                        {
                                            if (item.Team1Score != null)
                                                item.Score = 0;
                                            textColor = "text-secondary";
                                        }
                                        else if (item.Score == 0)
                                            textColor = "text-danger";
                                        else if (item.Score == 2)
                                            textColor = "text-warning";
                                        string text = item.Team1Prediction == null ? "Enviar predicción" : "Actualizar predicción";
                                        number++;
                                        string result = "Todavía no se ha subido el resultado del partido";
                                        if (item.Team1Score != null)
                                            result = $"Resultado del partido: {item.Team1Score} - {item.Team2Score}";
                                        <tr>
                                            <td>@number</td>
                                            <td>@item.GameDate.ToString("dd/MM/yyyy HH:mm")</td>
                                            <td>@item.Team1 - @item.Team2</td>
                                            <td class="text-center">@item.Team1Score - @item.Team2Score</td>
                                            @if (Model.IsParticipant)
                                            {
                                                <td class="text-center" id="@("prediction" + item.Id)">@item.Team1Prediction - @item.Team2Prediction</td>
                                                <td class="text-center fw-bold @textColor">@item.Score</td>
                                            }
                                            <td>
                                                @if (!item.Available)
                                                {
                                                    <a href="#" onclick="showGamePredictionsModal(@item.Id, '@item.Team1 - @item.Team2', '@result'); return false;">Ver predicciones</a>
                                                }
                                                else if (Model.IsParticipant)
                                                {
                                                    <a href="#" onclick="showPredictionModal('@text', @item.Id, '@item.Team1', '@item.Team2'); return false;" id="@("action" + item.Id)">@text</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- End Games Table -->
                            <p class="mt-4">Recuerda que la fecha límite para el envío de predicciones es hasta un día antes del partido.</p>
                        </div>
                        <!-- End Games -->

                        @if (Model.IsAdmin)
                        {
                            <!-- Admin -->
                            <div class="tab-pane fade" id="pool-admin">
                                <h5 class="card-title">¡Bienvenido al menú de administrador, @(ViewBag.User)!</h5>
                                <div class="row">
                                    <div class="col-sm-6 mb-3 text-center">
                                        <a class="btn btn-primary" href="/games/@Model.Id" style="width:220px">Administrar partidos</a>
                                    </div>
                                    <div class="col-sm-6 mb-3 text-center">
                                        <a class="btn btn-primary" href="/users/pool/@Model.Id" style="width:220px">Administrar participantes</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3 text-center">
                                        <a class="btn btn-warning" href="/quinielas/edit/@Model.Id" style="width:220px">Editar quiniela</a>
                                    </div>
                                    <div class="col-sm-6 mb-3 text-center">
                                        <a class="btn btn-danger" href="#" onclick="confirmDelete()" style="width:220px">Eliminar quiniela</a>
                                    </div>
                                </div>
                                @if (Model.Privada)
                                {
                                    <p>Esta quiniela es privada. <a href="#" onclick="confirmPublic()">Hacerla pública</a></p>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#passwordModal">Cambiar contraseña</a>
                                } else
                                {
                                    <p>Esta quiniela es pública. <a href="#" onclick="confirmPrivate()">Hacerla privada</a></p>
                                }
                            </div>
                            <!-- End Admin -->
                        }
                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

            <div class="mt-3">
                @if (Model.IsAdmin)
                {
                    <div>
                        <a asp-action="Mine">Volver al administrador de quinielas</a>
                    </div>
                }
                @if (Model.IsParticipant)
                {
                    <div>
                        <a asp-action="Index">Volver a mis quinielas</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Send Prediction Modal-->
<div class="modal fade" id="sendPredictionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="predictionModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="return false;" method="post">
                <div class="modal-body">
                    Ingresa tu predicción para el partido:
                    <input type="hidden" name="PoolId" value="@Model.Id">
                    <input type="hidden" name="GameId" id="GameId">
                    <div class="row justify-content-md-center mt-3">
                        <div class="col-sm-auto" style="text-align:right;">
                            <label for="Team1Score" class="form-label" id="Team1Label"></label>
                            <input type="number" class="form-control prediction-form" id="Team1Score" name="Team1Score" min="0" max="20" required>
                        </div>
                        <div class="col-sm-auto">
                            <p> - </p>
                        </div>
                        <div class="col-sm-auto">
                            <label for="Team2Score" class="form-label" id="Team2Label"></label>
                            <input type="number" class="form-control prediction-form" id="Team2Score" name="Team2Score" min="0" max="20" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" onclick="sendPrediction()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Send Prediction Modal-->

<!-- Predictions Modal-->
<div class="modal fade" id="predictionsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="predictionsModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="predictionsModalResult"></h5>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col" class="text-center">Predicción</th>
                            <th scope="col" class="text-center">Punteo</th>
                        </tr>
                    </thead>
                    <tbody id="predictionsTableBody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- End Predictions Modal-->

@if (Model.IsAdmin)
{
    <!-- Private Modal-->
    <div class="modal fade" id="privateModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hacer privada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Private" asp-route-id="@Model.Id" method="post">
                    <div class="modal-body">
                        Ingresa la nueva contraseña para la quiniela.
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" name="password" required >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Hacer privada</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Private Modal-->

    <!-- Password Modal-->
    <div class="modal fade" id="passwordModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="ChangePassword" asp-route-id="@Model.Id" method="post">
                    <div class="modal-body">
                        Ingresa la nueva contraseña para la quiniela.
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Password Modal-->
}

@section Scripts {
    <script>
        function showGamePredictionsModal(game, title, result) {
            const URL = `/predictions/byGame/${game}`;
            $.get(URL, function (data) {
                document.getElementById("predictionsModalTitle").innerHTML = title;
                document.getElementById("predictionsModalResult").innerHTML = result;
                const table = document.getElementById("predictionsTableBody");
                table.innerHTML = null;
                if (data) {
                    data.forEach(item => {
                        let row = table.insertRow();
                        let user = row.insertCell(0);
                        user.innerHTML = item.user;
                        let prediction = row.insertCell(1);
                        prediction.classList.add("text-center");
                        prediction.innerHTML = `${item.team1Score} - ${item.team2Score}`;
                        let score = row.insertCell(2);
                        score.classList.add("text-center");
                        score.classList.add("fw-bold");
                        if (item.score != null) {
                            if (item.score == 0) score.classList.add("text-danger");
                            else if (item.score == 0) score.classList.add("text-warning");
                            else score.classList.add("text-success");
                            score.innerHTML = item.score;
                        }
                        else {
                            score.classList.add("text-secondary");
                            score.innerHTML = "0";
                        }
                        if (item.user == '@ViewBag.User') {
                            user.classList.add("fw-bold");
                            prediction.classList.add("fw-bold");
                        }
                    });
                }
                $("#predictionsModal").modal('show');
            });
        }

        function showPredictionModal(title, gameId, team1, team2) {
            document.getElementById("predictionModalTitle").innerHTML = title;
            document.getElementById("GameId").value = gameId;
            document.getElementById("Team1Label").innerHTML = team1;
            document.getElementById("Team2Label").innerHTML = team2;
            document.getElementById("Team1Score").value = null;
            document.getElementById("Team2Score").value = null;
            $("#sendPredictionModal").modal('show');
        }

        function sendPrediction() {
            const poolId = @Model.Id;
            const gameId = document.getElementById("GameId").value;
            const team1Score = document.getElementById("Team1Score").value;
            const team2Score = document.getElementById("Team2Score").value;
            const URL = '/predictions/send';
            $.post(URL,{
                "PoolId": poolId,
                "GameId": gameId,
                "Team1Score": team1Score,
                "Team2Score": team2Score
            }, function (data) {
                if (data) {
                    showAlert(data.alert, data.alertMessage, data.alertIcon, false, '', 'Aceptar').then(confirmed => {
                        document.getElementById("prediction" + gameId).innerHTML = `${team1Score} - ${team2Score}`;
                        document.getElementById("action" + gameId).innerHTML = "Actualizar predicción";
                        $("#sendPredictionModal").modal('hide');
                    });
                }
            });
        }
    </script>

    @if (Model.IsAdmin)
    {
        <script>
            function confirmDelete() {
                showAlert('Confirmar', '¿Estás seguro? Esta quiniela será eliminada permanentemente', 'warning', true, 'No', 'Sí').then(confirmed => {
                    if (confirmed) {
                        const URL = "/quinielas/delete/@Model.Id";
                        $.post(URL, function (data) {
                            if (data) {
                                showAlert(data.alert, data.alertMessage, data.alertIcon, false, '', 'Aceptar').then(confirmed => {
                                    window.location.replace(data.redirectUrl);
                                });
                            }
                        });
                    }
                });
            }

            function confirmPublic() {
                showAlert('Confirmar', '¿Estás seguro? Cualquier usuario podrá unirse a esta quiniela', 'warning', true, 'No', 'Sí').then(confirmed => {
                    if (confirmed) {
                        const URL = "/quinielas/public/@Model.Id";
                        $.post(URL, function (data) {
                            if (data) {
                                showAlert(data.alert, data.alertMessage, data.alertIcon, false, '', 'Aceptar').then(confirmed => {
                                    window.location.replace(data.redirectUrl);
                                });
                            }
                        });
                    }
                });
            }

            function confirmPrivate() {
                showAlert('Confirmar', '¿Estás seguro? Únicamente los usuarios con la contraseña podrán unirse', 'warning', true, 'No', 'Sí').then(confirmed => {
                    if (confirmed) {
                        $("#privateModal").modal('show');
                    }
                });
            }
        </script>
    }
}
